/* Css Geral */
body {
    background-color: cadetblue;
    padding: auto;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: antiquewhite;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Cabecalho */
.cabecalho {
    display: flex;
    width: 100%;
    padding: 0.2em;
    margin: auto;
    flex: 1;
    justify-content: center;
    background-color: #1F2833;
}

.img-logo {
    max-width: 34%;
    flex: 1;
    padding-left: 6em;
}

.nav-bar {
    max-width: 66%;
    flex: 1;
    justify-content: space-between;
    padding-left: 0;
    padding-top: 0.8em;
}

.nav-bar ul li {
    display: inline-block;
    padding: 0.5em;
    padding-left: 0;
    padding-right: 0.5em;
}

nav {
    padding: 0;
}

/* Main */
.main {
    display: flex;
    width: 100%;
}

/* Formulário */
form {
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}


.form-cadastro {
    width: 100%;
    display: flex;
    border: solid 0.5em black;
    flex: 1;
}

/* Formulário Dados */
.form-dados,
.form-End {
    padding-left: 20em;
}

.form-dados ul li,
.form-End ul li {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px;
}

.form-dados ul li label,
.form-End ul li label {
    text-align: center;
    margin-bottom: 5px;
}

.form-dados ul li input,
.form-End ul li input {
    width: 100%;
    padding: 5px;
    text-align: center;
}

/* Botão */
.btnCadastro {
    text-align: center;
    padding: 1em;
}

button {
    padding: 0.5em;
    width: 8em;
    margin: auto;
}